<mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Home" [routerLink]="['/app-home']" routerLinkActive="active-tab"></mat-tab>
  <mat-tab label="Analisador de Palavras" [routerLink]="['/app-word-analyzer']" routerLinkActive="active-tab"></mat-tab>
  <mat-tab label="Caculadora" [routerLink]="['/app-simple-calculator']" routerLinkActive="active-tab"></mat-tab>
  <mat-tab label="Consulta CEP" [routerLink]="['/app-consulta-cep']" routerLinkActive="active-tab"></mat-tab>
</mat-tab-group>

<!-- Onde as páginas são exibidas -->
<div class="p-4">
  <router-outlet></router-outlet>
</div>
