<nav class="bg-blue-500 text-white p-4 flex justify-center space-x-4">
  <a routerLink="/app-home" routerLinkActive="border-b-2 border-white" class="p-2">
    Home
  </a>
  <a routerLink="/app-word-analyzer" routerLinkActive="border-b-2 border-white" class="p-2">
    Analisador de Palavra
  </a>
  <a routerLink="/app-simple-calculator" routerLinkActive="border-b-2 border-white" class="p-2">
    Calculadora
  </a>
</nav>

<!-- Onde as páginas são exibidas -->
<div class="p-4">
  <router-outlet></router-outlet>
</div>
